/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
    /* background: linear-gradient(to right, #f200ff55, #0000ff) */
}

/* Header styling */
header {
    background-color: #0c74977a;
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    position: sticky;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    font-size: clamp(1.5rem, 1.4vw, 2rem);
    font-weight: bold;
}

/* Navbar links */
.nav-links {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

main {
    position: relative;
    min-height: 80vh;
}

section {
    margin-bottom: 50px;
}

.home_section {
    position: relative;
    height: 100vh;
    background: fixed no-repeat center/cover;
    animation: changebg 20s ease-in-out infinite;
}

@keyframes changebg {
    0% {
        background-image: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?auto=format&fit=crop&q=80&w=1172");
    }

    33% {
        background-image: url("https://images.unsplash.com/photo-1629904853716-f0bc54eea481?auto=format&fit=crop&q=80&w=1170");
    }

    66% {
        background-image: url("https://images.unsplash.com/photo-1593720213428-28a5b9e94613?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1170");
    }

    100% {
        background-image: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?auto=format&fit=crop&q=80&w=1172");
    }
}

.home_section::before {
    content: "";
    position: absolute;
    background: #0404048b;
    width: 100%;
    height: 100vh;
}

.home_section div {
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: clamp(2.5rem, 3vw, 2.5rem);

}

.home_section p {
    color: white;
}

.home_section .highlight {
    color: #ff9800;
    transform: translateX(0);
    animation-duration: 2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

@keyframes myAnimation {
    0% {
        transform: scaleX(200px);
    }
}

/* .highlight:hover {
    transform: scale(0.1);
    color: aqua;
    cursor: pointer;
} */

section h2 {
    color: #fffefe;
    margin-bottom: 10px;
}

.Services_section {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}

.Services_section .container {
    display: flex;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
    width: 80%;
    height: 50vh;
    /* background-color: #ff9800; */
}

.container .head {
    width: 100%;
    text-align: center;
    font-size: clamp(1.5em, 1vw, 3rem);
}

.container .card {
    margin: 50px 0;
    position: relative;
    border-radius: 15px;
    width: 20%;
    height: 350px;
    box-shadow: 0px 10px 10px 10px rgb(164, 159, 159, 0.2);
}

.card .logo1 {
    position: absolute;
    border-radius: 50%;
    right: 30%;
    top: -40px;
    width: 100px;
    height: 100px;
    background: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvQ_A1YpPDcscDaiVTYKnCVn2foc3piDKWXg&s") no-repeat center/cover;
}

.card .logo2 {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.32);
    right: 30%;
    top: -40px;
    width: 100px;
    height: 100px;
    background: url("https://portfolio-pi-liard-52.vercel.app/assets/ux-ui-00-2x.png") no-repeat center/cover;
}

.card .logo3 {
    position: absolute;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.32);
    right: 30%;
    top: -40px;
    width: 100px;
    height: 100px;
    background: url("https://portfolio-pi-liard-52.vercel.app/assets/creative-thinking.png") no-repeat center/cover;
}