/* Reset default spacing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    font-family: "Poppins", sans-serif;
}

/* Header styling */
header {
    /* background-color: #0c7497a1; */
    width: 100%;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 40px;
    position: absolute;
    top: 0;
    z-index: 1000;
}

/* Logo */
.logo {
    font-size: clamp(1.5rem, 1.4vw, 2rem);
    font-weight: bold;
}

/* Navbar links */
.nav-links {
    font-size: clamp(1rem, 1.2vw, 1.5rem);
    list-style: none;
    display: flex;
    gap: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    transition: 0.3s;
}

.nav-links a:hover {
    color: #ff9800;
}

main {
    position: relative;
    /* padding: 40px 20px; */
    background-color: #2b10c268;
    min-height: 80vh;
    /* Makes sure it takes enough space */
}

section {
    margin-bottom: 50px;
}

.home_section {
    position: relative;
    height: 100vh;
    background: url("https://images.unsplash.com/photo-1522199755839-a2bacb67c546?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&q=80&w=1172 ") no-repeat center/cover;
}

.home_section::before {
    content: "";
    position: absolute;
    background: #40404315;
    width: 100%;
    height: 100vh;
}

.home_section div {
    position: absolute;
    top: 50%;
    left: 10%;
    font-size: clamp(1.5rem, 3vw, 2rem);
}

.home_section p {
    color: white;
}

.about_section {
    height: 100vh;
    background: repeating-linear-gradient(rgba(182, 2, 2, 0.546));
}

section h2 {
    color: #fffefe;
    margin-bottom: 10px;
}